<div class="dashboard-container">
    <h1>Featured Products</h1>
    <div class="product-grid" *ngIf="products.length > 0; else noProducts">
        <div class="product-card" *ngFor="let product of products">
            <img [src]="product.image" [alt]="product.name">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <span class="price">{{ product.price | currency }}</span>
        </div>
    </div>
    <ng-template #noProducts>
        <p>No products found. Make sure the backend is running and the database has data.</p>
    </ng-template>
</div>